.modal {
  width: 700px;
  height: 65vh;
  background-color: white;
  margin: auto;
}

.font {
  font-family: "Frank Ruhl Libre", Georgia, serif;
  font-size: x-large;
  background-color: "#020000";
  opacity: "0.6";
  height: "70px";
}
