.paper {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.form {
  width: 100%;
  padding: 15px;
}

.submit {
  background-color: #020000 !important;
  opacity: 0.6;
  height: 70px;
}
.modal {
  width: 700px;
  height: auto;
  background-color: white;
  margin: auto;
}

.font {
  font-family: "Frank Ruhl Libre", Georgia, serif;
  font-size: x-large;
  background-color: "#020000";
  opacity: "0.6";
  height: "70px";
}
