.loading {
  margin-left: 50%;
  margin-top: 200px;
}

.headline {
  margin-top: 20px;
  margin-left: 150px;
  display: flex;
}

.rating {
  margin-left: 30px;
}

.ratingIcon {
  color: #117777;
}

.info {
  margin-left: 150px;
  display: flex;
}

.prepTime {
  margin-left: 50px;
}

.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 200px;
}

.recipeImg {
  max-width: 900px;
  max-height: 800px;
  width: auto;
  height: auto;
}

.ingredients {
  margin-top: 20px;
  font-size: xx-large;
  font-weight: bold;
  margin-left: 30px;
  max-height: 800px;
  height: auto;
  position: relative;
}

.list {
  margin-top: 20px;
}

.ingredientsBox {
  background: linear-gradient(to bottom, #d2f9f9, #ffffff);
  width: 40%;
  max-height: 800px;
}

.icon {
  color: #117777;
}

.text {
  font-size: large;
  font-family: "Frank Ruhl Libre", "Georgia", "serif";
  font-weight: bold;
}

.methodHeadline {
  margin-top: 30px;
  margin-left: 150px;
}

.methodUnderline {
  width: 600px;
  height: 3px;
  background-color: #f5d175;
}

.methodContainer {
  width: 600px;
  margin-top: 30px;
}
